﻿@{
    ViewData["Title"] = "Currencies aggregation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Currencies aggregation</h1>

<div id="Itemlist">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Currency
                </th>
                <th>
                    Price (Last Price)
                </th>
                <th>
                    24h Vol
                </th>
            </tr>
        </thead>
        <tbody>
        <tr v-for="item in items" v-show="isDataShowing">
            <td>{{item.currency}}</td>
            <td>{{item.averagePrice}}</td>
            <td>{{item.totalPrice}}</td>
        </tr>
        <tr v-show="isSpinnerShowing">
            <td colspan="3" style="text-align: center">
                <img src='images/ajax-loader.gif'>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts
    {
    <script>

        var ItemsVue = new Vue({
            el: '#Itemlist',
            data () {
                return {
                    items: [],
                    polling: null,
                    isSpinnerShowing: true,
                    isDataShowing: false
                }
            },
            methods: {
                pollData() {
                    var interval = parseInt('@ViewBag.RefreshInterval');
                    this.polling = setInterval(() => {
                        var self = this;
                            $.ajax({
                                url: '@Url.Action("GetMarketData", "Home")',
                                method: 'GET',
                                beforeSend: function() {
                                    self.isSpinnerShowing = true;
                                    self.isDataShowing = false;
                                },
                                success: function (data) {
                                    self.items = data;
                                },
                                error: function (error) {
                                    console.log(error);
                                },
                                complete: function(){
                                    self.isSpinnerShowing = false;
                                    self.isDataShowing = true;
                                }
                            });
                        },
                        interval);
                }
            },
            beforeDestroy () {
                clearInterval(this.polling);
            },
            created () {
                this.pollData();
            }
        });

    </script>
}
